.App {
  font-family: sans-serif;
  text-align: center;
}
#tt {
  background-color: aquamarine;
}
body {
  background-image: url("back3.jpg");
  background-size: 1500px;
  font-family: "Ubuntu", sans-serif;
  object-position: 50% 50%;
}
.pp {
  width: 70%;
  margin: 0 auto;
  margin-top: 20px;
  background-color: rgb(255, 152, 0) !important;
}
#pp {
  width: 70%;
  margin: 0 auto;
  margin-top: 20px;
}
.container {
  cursor: pointer;
  font-family: "Ubuntu", sans-serif;
}

#h1,
#p {
  font-family: "Zen Dots", cursive;
}
@media only screen and (min-height: 1280px) {
  body {
    background-size: 1500px 1380px;
  }
}
